@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #EA7815;
    --secondary-color: #052F5F;
    --accent1-color: #FCE762;
    --accent2-color: #78D5D7;
    --heading-font: "lato", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
    --nav-background-color: #052F5F;
    --nav-link-color: #EA7815;
    --nav-hover-link-color: #052F5F;
    --nav-hhover-background-color: #EA7815;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    justify-content: center;
    align-content: center;
    margin: auto;

}

.hero h1 {
    top: 20px;
    position: absolute;
    background-color: #052f5fa2;
    min-width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

article {
    margin: 100px;
    position: absolute;
    padding: 20px;
    background-color: #ffffffae;
    top: 80px;
    right: 0;
    left: 0;
    width: auto;
    height: 200px;
    align-content: center;

}

article img {
    float: right;
    height: auto;
    padding: 2px;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}





.hero article img {
    float: right;
    height: 150px;
    width: auto;
    padding: 2px;

}

article p {
    margin-right: 120px;
    margin: 0;

}

section img {
    display: block;
    padding-bottom: 20px;
}

/*14/5/2024*/
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 1rem auto;
    border-bottom: solid 1px #052F5F;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10rem;

}

header img {
    width: 150px;
    height: auto;
    margin: 0 0.25rem 0 5rem;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}

.section_1 {

    align-items: center;
    text-align: center;
    justify-items: center;
}

.section_1 img {
    width: 400px;
    height: auto;
}

h2 {
    font-size: 30px;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
}

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section_2_images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-content: space-evenly;
}

.section_2_images img {
    height: auto;
    width: 200px;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #052F5F;
    position: relative;
}

.icons {
    position: absolute;
    right: 1rem; 
    display: flex;
    gap: 0.5rem;
}