@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #EA7815;
    --secondary-color: #052F5F;
    --accent1-color: #FCE762;
    --accent2-color: #78D5D7;
    --heading-font: "lato", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
    --nav-background-color: #052F5F;
    --nav-link-color: #EA7815;
    --nav-hover-link-color: #052F5F;
    --nav-hhover-background-color: #EA7815;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    border-bottom: solid 1px #052F5F;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;

}

header img {
    width: 150px;
    height: auto;
    margin: 0 0.25rem 0 5rem;
}

nav a {
    color: var(--nav-hover-link-color);
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}


footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #052F5F;
    position: relative;
}

.icons {
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

.hero_image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('hero_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero_image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.content_hero {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content_hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.content_hero p {
    font-size: 20px;
    color: aliceblue;
    opacity: 0.8;
}

.middle {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.middle_content {
    grid-column: 1/ 11;
    text-align: center;
}

.middle img {
    width: 350px;
    height: auto;
    border: 10px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px #777575;
}

.trip_images {
    display: grid;
    grid-column: 2/4;

}

.card_1 {
    grid-column: 2/4;
    grid-row: 4/5;
}

.card_2 {
    grid-column: 5/7;
    grid-row: 4/5;
}

.card_3 {
    grid-column: 8/10;
    grid-row: 4/5;
}

.card_1,
.card_2,
.card_3 {
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0 auto;
}

.card_img {
    width: 350px;
    height: auto;
    border: 10px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 20px #777575;
}


.middle img:hover {
    transform: scale(102%);
    transition: 0.1s;
}

.ima_about {
    border-radius: 10px;
}

.table_trips {
    background-color: #ebeae9;
    display: grid;
    justify-content: center;
    grid-column: 1/11;
    grid-row: 6/5;
    padding-bottom: 5rem;
    text-align: center;
}

.gallery {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.gallery img {
    width: 250px;
}
.table-container{
    justify-content: center;
    display: grid;
    margin: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid #052F5F;
    letter-spacing: 1px;
}


thead,
tfoot {
    background-color: rgb(255, 208, 120);
}

th,
td {
    border: 2px solid #052F5F;
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}



.rectangle {
    margin-top: 25px;
    border: solid 4px #052F5F;
    padding: 0;
    background-color: #fecc09;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.rectangle_content {
    text-align: center;
    line-height: 20px;
    
}
.rectangle_content H4{
    color: #052F5F;
    font-size: 52px;
}
.rectangle_content p{
    font-size: 55px;
}

.about {
    display: grid;
    background-color: #ebeae9;
    justify-content: center;
    text-align: center;

}


.abuot_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 1rem;
    text-align: left;

}

.image_container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 10rem;
    height: auto;
    padding-right: 50px;
}

.text_container {
    padding: 0 2rem 2rem 2rem;
    text-align: left;

}

.text_container p {
    text-align: left;

}

.trip_btn, .trip_link {
    padding: 12px 22px;
    margin-top: 30px;
    font-size: 22px;
    border: none;
    outline: none;
    color: #000;
    background-color: #EA7815;
    border-radius: 15px;
    cursor: pointer;
}

.trip_btn:hover {
    background-color: #bb5d0a;

}
.back_2 {
    background-image: url('hero_2.jpg');
    background-position: center bottom;
    grid-column: 1/11;
    grid-row: 6/10;
  
  }
  
  .overlay {
    background-color: #000000;
    opacity: .5;
    background-position: center bottom;
    padding: 150px;
    grid-column: 1/11;
    grid-row: 6/10;
  }
  
  .back_2_txt {
    text-align: center;
    margin: 0 auto;
    grid-row: 7/8;
    grid-column: 1 / 11;
    z-index: 1;
  
  }
  .trip_link {
    text-align: center;
    margin: 0 auto;
    grid-row: 8/9;
    grid-column: 1 / 11;
    z-index: 1;
  
  }
h2{
    color: #000;
}