* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: black;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p { padding: 0;
}
main{
    max-width: 500px;
}
aside{
    width: 20rem;
    margin: 1rem;
    position: relative;

}
aside h2{
    position: absolute;
    top: 115px;
    left: 20px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1rem;
    border-top: 1px solid steelblue;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px black;
    background-color: #47A4B5;
    color:hsla(200,0%,0%,.7);
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}